PORT=5000
NODE_ENV=dev
MONGO_URI=
MONGO_URI_DEV=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_SECRET_DEV=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_ID_DEV=
COOKIE_KEY=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=eu-north-1
REDIS_URL=redis://127.0.0.1:6379
